<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" th:href="@{/favicon.ico}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link th:href="@{/static/css/findpassword.css}" rel="stylesheet"/>
  <title>비밀번호찾기</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
</head>
<body>
  <div class="item--kui">
    <div class="frame-3851-mpp">
      <div class="frame-3851-gwn">
        <p class="roads-v5S">ROADs</p>
        <p class="road-obstacle-ai-detection-service-BXA">Road Obstacle Ai Detection service</p>
      </div>
      <div class="frame-830-rdJ">
        <input id="inputEmail" type="text" placeholder="이메일을 입력하세요." class="text-field-KBS"></input>
        <input id="inputId" type="text" placeholder="아이디를 입력하세요." class="text-field-KBS"></input>
        <button class="button-7f2" onclick="findIdByEmail()">이메일 확인</button>
        <button class="button-7f2" onclick="findPasswordById()">아이디 확인</button>
        <span id="resultMessage"></span>
      </div>
    </div>
  </div>
  <script src="static/js/findpassword.js"></script>
</body>
</html>