<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <title>지자체메인</title>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=0db590807cb08a226ef449271cc2660f&libraries=services"></script>

    <link th:href="@{/static/css/goofficer.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
</head>
<body>
    <div class="icon-container">ROADs</div>
    <div class="logout-button">
         <!-- 모델에 loggedInUser가 있다면 로그인 상태로 간주 -->
    <a th:if="${loggedInUser != null}" href="/logout">로그아웃</a>
    <a th:unless="${loggedInUser != null}" href="/login">로그인</a>
    </div>
    <div class="my-location-button">내 위치</div>
    <div id="data-details-button" >데이터 상세보기</div>
    <div id="filter-container">
        <div id="date-filter">
            <label for="start-date">시작 날짜:</label>
            <input type="date" id="start-date">
            <label for="end-date">종료 날짜:</label>
            <input type="date" id="end-date">
        </div>
    
        <div id="address-filter">
            <label for="address1">주소1:</label>
            <select id="address1" onchange="updateAddress2Options()">
                <option value="서울">서울특별시</option>
                <option value="인천">인천광역시</option>
                <option value="대전">대전광역시</option>
                <option value="광주">광주광역시</option>
                <option value="대구">대구광역시</option>
                <option value="울산">울산광역시</option>
                <option value="부산">부산광역시</option>
                <option value="경기도">경기도</option>
                <option value="강원도">강원도</option>
                <option value="충청북도">충청북도</option>
                <option value="충청남도">충청남도</option>
                <option value="전라북도">전라북도</option>
                <option value="전라남도">전라남도</option>
                <option value="경상북도">경상북도</option>
                <option value="경상남도">경상남도</option>
                <option value="제주도">제주도</option>
            </select>
    
            <label for="address2">주소2:</label>
            <select id="address2"></select>
    
            
        </div>
    
        <button id="clear-markers-button">마커 지우기</button>
        <button id="apply-button" onclick="applyFilter()">확인</button>
    </div>
    <div id="map" style="width: 50%; height: 60vh;"></div>
    <script th:inline="javascript">
        // `/goofficer` 페이지에서 아이디를 가져오는 코드
        var loggedInUser = /*[[ ${loggedInUser} ]]*/;
    
        // 여기서 loggedInUser를 openPopup 함수에 전달하도록 수정 가능
    </script>
    <script src="/static/js/goofficer.js"></script>
</body>
</html>