<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" th:href="@{/favicon.ico}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>로그인</title>
  <link th:href="@{/static/css/login.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <script src="static/js/login.js"></script>
</head>
<body>
<div class="item--brL">
  <div class="frame-3851-Fvt">
    <div class="frame-3851-nfv">
      <p class="roads-dgY">ROADs</p>
      <p class="road-obstacle-ai-detection-service-75v">Road Obstacle Ai Detection service</p>
    </div>
    <div class="frame-830-aVJ">
      
        <input type="text" placeholder="ID" class="text-field-sjJ"></input>
     
      <input type="password" placeholder="PW" class="text-field-Lep"></input>
      <div class="text-field-7oz">ID/PW 찾기</div>
      <button class="button-w2L">로그인</button>
      <button class="button-jTz">회원가입</button>
    </div>
  </div>
</div>
</body>
</html>