/*기본적인 부분의 css는 main 페이지의 css와 똑같이 적용한다.*/
* {
  font-family: 'Poppins', 'Source Sans Pro';
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F5F5DC;
  }
  #nav {
    position: relative;
    top: 0;
    left: 0;
   
    display: flex;
    width: calc(100% - 160px);
    height: 80px;
    padding: 0 80px;
    background: #842ba3;
    z-index: 100;
    line-height: 76px;
   
   }

  .gnb {
    display: flex;
    gap: 20px;
    margin-left: 44px;
  }
  
  .gnb li {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .gnb li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .icon-container {
    font-weight: bold;
      font-size: 40px;
      text-align: center;
      cursor: pointer;
      color: #fff;
  }
  
  .gotoGoofficer {
    margin-bottom: 10px;
    background-color: #ffffff;
    font-family: 'Poppins', 'Source Sans Pro';
    border: 2px solid #000;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    z-index: 100;
  }

  #filtered-data-container {
    position: absolute;
    left: 20%; /* 화면 왼쪽에서 절반 지점으로 이동 */
    top: 150px; /* filter-container 아래에 10px 간격을 두고 배치 */   
    background-color: #ffffff;
    border: 2px solid #000;
    padding: 20px;
    font-family: 'Poppins', 'Source Sans Pro';
    font-weight: bold;
    z-index: 100;
    border-radius: 8px;
    width: 900px;  
    margin-top:30px;
    overflow: auto; /* 내용이 넘치면 스크롤 표시 */
}

#filtered-data-table th,
#filtered-data-table td {
    padding: 10px;
    text-align: center;
    height:50px;
    border-bottom: 1px solid #ddd;
    width: calc(100% / 8); /* 셀 너비를 테이블 너비의 1/8로 설정 */
}

#filtered-data-table th {
    background-color: #f2f2f2;
}
  
  .my-location-button {
    
    
    background-color: #ffffff;
    font-family: 'Poppins', 'Source Sans Pro';
    border: 2px solid #000;
    padding: 10px;
     font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right:20px;
    z-index: 100;
  }



  #map {
    border: 2px solid #000;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  
  
  
  .popup {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    /* 높이와 너비 2배로 늘리기 */
    height: 600px;
    width: 480px;
    
    /* 팝업을 화면 가운데에 정렬하기 위한 스타일 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 추가된 스타일 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기를 지정 */
    margin-bottom: 10px; /* 하단 여백 없애기 */
  }
  
  .popup img {
    /* 사진 크기 조정 */
    width: 100%;
    height: auto;
  }
  .popup-content {
    flex: 1; /* 팝업 내용이 자동으로 확장되도록 함 */
    margin-bottom: 20px;
  }
  
  .popup-content img {
    margin-bottom: 40px;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  .popup-close-btn {
    margin-top: 40px;
  }
  
  .popup-close-btn {
   
    width: 100%;
    height: 20px; /* 원하는 높이로 조절 */
    background-color: gray;
    color: white;
    border: none;
    margin: 0 auto; /* 가운데 정렬을 위한 속성 추가 */
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    font-size: 16px;
    cursor: pointer;
    
  
  }

 /* 데이터 상세보기 버튼의 css */
#filter-container {
  margin-left:50px;
  top: 10px; /* nav의 아래 10px에 위치 */
  position: relative;
  display: flex;
  flex-wrap: wrap; /* 요소들이 한 줄에 가득 차면 다음 줄로 이동 */
  width: calc(100% - 160px);  /*width을 nav와 같이 한다.*/
  padding: 20px;
  background-color: #c3aed5;
  font-family: 'Poppins', 'Source Sans Pro';
  font-weight: bold;
  z-index: 100;
  border-radius: 8px; /* 모서리 부분을 뭉특하게 한다. */
  margin-top: 0; /* nav 아래에 위치시키기 */
  gap: 20px; /* 요소들 간 간격 설정 */
  justify-content: center; /* 요소들을 가로로 최대한 분산 배치 */
}

#filter-container > div {
  display: flex;
  flex-wrap: wrap; /* 요소들이 한 줄에 가득 차면 다음 줄로 이동 */
  align-items: center; /* 요소들을 수직 가운데 정렬 */
}

#date-filter,
#address-filter {
    flex: 1; /* 같은 너비로 요소들을 채우기 */
}

#clear-markers-button,
#apply-button {
  max-width: 100px; /* 버튼의 최대 너비 설정 */
  max-height: 50px;
}
/* 시작 날짜/주소1/종료 날짜/주소2/마커 지우기/확인 이 모두 가로로 일렬로 있게 해줘. */
#filter-container label,
#filter-container select,
#filter-container input,
#filter-container button {
    flex: 1; /* 같은 너비로 요소들을 채우기 */
}


#filter-container label {
  margin-right: 10px;
  display: block;
}

#filter-container select,
#filter-container input {
}

#filter-container #address2-container {
  margin-top: 10px; /* 주소2 위치 조절 */
  display: none; /* 초기에는 주소2를 숨김 */
}

#filter-container button {
  background-color: #3498db;
  font-family: 'Poppins', 'Source Sans Pro';
  border: 2px solid #000;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}



#start-date,
#end-date {
  
    border-radius: 8px; /* 끝을 뭉특하게 만들기 위한 속성 */
    border: 2px solid #333; /* 경계선을 진하게 만들기 위한 속성 */
    width: 90%; /* 요소가 부모 너비에 가득 차도록 설정 */
    padding: 10px; /* 내부 여백 설정 */
    margin-right: 10px; /* 오른쪽 간격 설정 */

 
}

#address1,
#address2{

    border-radius: 8px; /* 끝을 뭉특하게 만들기 위한 속성 */
    border: 2px solid #333; /* 경계선을 진하게 만들기 위한 속성 */
    width: calc(50% - 5px); /* 주소1, 주소2 요소가 동일한 너비를 가지도록 설정 */
    padding: 10px; /* 내부 여백 설정 */
    margin-right: 10px; /* 오른쪽 간격 설정 */
}
