
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--kui {
  box-sizing: border-box;
  padding: 21.7rem 44.7rem 24.3rem 44.8rem;
  width: 100%;
  height: 80rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 3rem;
}
.item--kui .frame-3851-mpp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.item--kui .frame-3851-mpp .frame-3851-gwn {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--kui .frame-3851-mpp .frame-3851-gwn .roads-v5S {
  margin-bottom: 2rem;
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--kui .frame-3851-mpp .frame-3851-gwn .road-obstacle-ai-detection-service-BXA {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--kui .frame-3851-mpp .frame-830-rdJ {
  width: 100%;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--kui .frame-3851-mpp .frame-830-rdJ .text-field-iQc {
  box-sizing: border-box;
  padding: 1.3rem 2rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  color: #828282;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  border: solid 0.1rem #e0e0e0;
  flex-shrink: 0;
}
.item--kui .frame-3851-mpp .frame-830-rdJ .text-field-iQc .text-field-iQc-sub-0 {
}
.item--kui .frame-3851-mpp .frame-830-rdJ .text-field-iQc .text-field-iQc-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  color: #828282;
  font-family: Montserrat, 'Source Sans Pro';
}
.item--kui .frame-3851-mpp .frame-830-rdJ .text-field-iQc .text-field-iQc-sub-2 {
}
.item--kui .frame-3851-mpp .frame-830-rdJ .text-field-KBS {
  box-sizing: border-box;
  padding: 1.2rem 4.5rem 1.3rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e0e0e0;
  flex-shrink: 0;
}
.item--kui .frame-3851-mpp .frame-830-rdJ .text-field-KBS .email--knY {
  margin: 0.1rem 36.1rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  color: #828282;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--kui .frame-3851-mpp .frame-830-rdJ .text-field-KBS .auto-group-gxss-b2U {
  margin-bottom: 0.1rem;
  width: 5.2rem;
  height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.item--kui .frame-3851-mpp .frame-830-rdJ .button-7f2 {
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5491f5;
  flex-shrink: 0;
  cursor:pointer;
}
