body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #F5F5DC; /* 원하는 배경색으로 변경하세요 */
}

.icon-container {
  font-family: 'Poppins', 'Source Sans Pro';
  height: 80px;
  width: 120px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  z-index: 100;
}

.login-button {
  margin-bottom: 10px;
  background-color: #ffffff;
  font-family: 'Poppins', 'Source Sans Pro';
  border: 2px solid #000;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 100;
}

.my-location-button {
  
  
  background-color: #ffffff;
  font-family: 'Poppins', 'Source Sans Pro';
  border: 2px solid #000;
  padding: 10px;
   font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right:20px;
  z-index: 100;
}

#webcam {
  /*width: 100%;*/
  max-width: 640px;
  position: absolute;
  top: calc(50% + 20px); /* 중앙 위치에서 20px 아래로 */  
  /*이런 식으로 여백을 두어야 map과 webcam간의 간격이 확보된다.*/
  left: 0;
  margin: 20px;
  z-index: 100;
}

#map {
  border: 2px solid #000;
  width: 60%; /*너비를 조절한다. 100%이면, 지도가 full로 웹에 보여진다.*/
  height: 50vh; /*높이를 "*/
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.popup {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  /* 높이와 너비 2배로 늘리기 */
  height: 600px;
  width: 480px;
  
  /* 팝업을 화면 가운데에 정렬하기 위한 스타일 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 추가된 스타일 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기를 지정 */
  margin-bottom: 10px; /* 하단 여백 없애기 */
}

.popup img {
  /* 사진 크기 조정 */
  width: 100%;
  height: auto;
}
.popup-content {
  flex: 1; /* 팝업 내용이 자동으로 확장되도록 함 */
  margin-bottom: 20px;
}

.popup-content img {
  margin-bottom: 40px;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup-close-btn {
  margin-top: 40px;
}

.popup-close-btn {
 
  width: 100%;
  height: 20px; /* 원하는 높이로 조절 */
  background-color: gray;
  color: white;
  border: none;

  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  font-size: 16px;
  cursor: pointer;
  

}

.local-government-button {
  background-color: #ffffff;
  font-family: 'Poppins', 'Source Sans Pro';
  border: 2px solid #000;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-top: 160px; /* '내 위치' 버튼 아래로 조절 */
  margin-bottom: 10px;
  margin-right: 20px;
  z-index: 100;
}

